<ion-view view-title="learn math">
  <ion-content>
    <div class="list">
      <div class="item" ui-sref="table">Learn Table</div>
      <div class="item" ui-sref="table">Learn Table</div>
      <div class="item" ui-sref="table">Learn Table</div>
      <div class="item" ui-sref="table">Learn Table</div>
      <div class="item" ui-sref="table">Learn Table</div>
    </div>


    <ion-list>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="../../img/1.mp4" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/gvI2ClWqHO0" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
      <div class="card">
        <ion-item>
          <div class="video-container">
            <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
